
.submit-button:focus, .submit-button:visited, .submit-button:active {
  outline: none;
}

.submit-button {
  border: 1pt solid black;
  padding: 10px 10px;
  border-radius: 15px;
  margin-top: 12px;
}

.input {
  width: 150px;
  height: 25px;
  margin-top: 10px;
  margin-bottom: 5px;
  text-align: left;
}




@media screen and (max-width: 800px) {
  .submit-button:focus, .submit-button:visited, .submit-button:active {
    outline: none;
  }
  
  .submit-button {
    border: 1pt solid black;
    padding: 10px 10px;
    border-radius: 15px;
    margin-top: 12px;
    background: white;
  }
  
  .input {
    width: 150px;
    height: 25px;
    margin-top: 10px;
    margin-bottom: 5px;
    text-align: left;
    border: 1pt solid rgb(208, 208, 208);
  }


}