.landing-page-container-show {
  width: 100%;
  height: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.title {
  width: 80%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  max-width: 900px;
  margin-left: -25px;
  margin-bottom: -15px;
}

.title h1 {
  margin: 0;
  font-size: 55pt;
}

.landing-page-container-hide {
  display: none;
}

.landing-page-inner-container {
  width: 80%;
  max-width: 900px;
  height: 470px;
  background: white;
  border: 10pt solid black;
  display: flex;
  justify-content: flex-end;
}

.landing-page-left-wink {
  width: 30%;
  height: 40%;
  margin-left: 20px;
  margin-top: 45px;
  padding: 20px 20px;
  overflow: hidden;
  background-position: center;
  background-image: url('https://media.giphy.com/media/gHia1ekM0J3NzhmKUn/giphy.gif');
  background-repeat: no-repeat;
  background-size: 60%;

}


.landing-page-left-hide {
  display: none;
}

.social-links a {
  margin-left: 10px;
}


.landing-page-right {
  width: 75%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  margin-left: 20px 20px;
  padding: 20px 20px;
}

.landing-page-right-full {
  width: 90%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  margin-left: 20px 20px;
  padding: 20px 20px;
}

.landing-page-right-inner-top {
  width: 100%;
  height: 30%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: end;
}

.about-landing-page-right-inner-bottom {
  width: 80%;
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  text-align: right;
}


.about-landing-page-right-inner-bottom-hide {
  display: none;
}

.project-all{
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  overflow: hidden;
}

.project-box {
  width:320px;
  height: 220px;
  margin-left: 10px;  

}

.project-box img {
  max-width:100%;
  max-height:100%;
}


.project-landing-page-right-inner-bottom-hide {
  display: none;
}

.project-landing-page-right-inner-bottom {
  width: 100%;
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: end; 
}

.contact-landing-page-right-inner-bottom-hide {
  display: none;
}

.contact-landing-page-right-inner-bottom {
  width: 100%;
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: end;
}

/* mobile */
@media screen and (max-width: 800px) {
body {
}


.landing-page-container-show {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.title {
  width: 80%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  max-width: 900px;
  margin-left: -25px;
  margin-bottom: -10px;
  margin-top: 20px;
}

.title h1 {
  margin: 0;
  font-size: 30pt;
}

.landing-page-inner-container {
  width: 80%;
  height: auto;
  min-height: 600px;
  background: white;
  border: 10pt solid black;
  display: flex;
  justify-content: flex-end;
}

.landing-page-left-wink {
  width: 300px;
  height: 220px;
  margin-left: 20px;
  margin-top: 5px;
  padding: 20px 20px;
  overflow: hidden;
  background-size: 170px;
  background-position: center;
  background-image: url('https://media.giphy.com/media/gHia1ekM0J3NzhmKUn/giphy.gif');
  background-repeat: no-repeat;
  background-size: 80%;
}

.about-landing-page-right-inner-bottom {
  width: 180%;
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  text-align: right;
  margin-top: 100px;
}

.project-all{
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-wrap: wrap;
}

.project-landing-page-right-inner-bottom {
  width: 100%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: end; 
}

.project-box {
  width:300px;
  height: auto;
  margin: 10px 10px;  
}


.contact-landing-page-right-inner-bottom-hide {
  display: none;
}

.about-landing-page-right-inner-bottom-hide {
  display: none;
}

.prject-landing-page-right-inner-bottom-hide {
  display: none;
}

}
